$ac1: #e1335a;
$ac2: #fe8767;
$ac3: #ea2153;
$ac4: #ed39a1;
$ac5: #39dff9;
$ac6: #22a19c;
$ac7: #09bc8d;
$ac8: #9583fc;
$ac9: #e12067;
$ac10: #f3155f;
$ac11: #0993b2;
$ac12: #fa6b4e;
$ac12: #1faeba;

$ag1: linear-gradient(45deg, #f73570, #cf2390, #a239f1);
$ag2: linear-gradient(45deg, #696cc8, #5121de, #0a2ccd);
$ag3: linear-gradient(45deg, #690ce7, #5e44ea, #4cbda7);
$ag5: linear-gradient(45deg, #eb7249, #d926a6, #ee01bb);
$ag6: linear-gradient(45deg, #7a0ef4, #434fbb, #46539b);
$ag7: linear-gradient(45deg, #01232e, #001b99, #7932ad);
$ag8: linear-gradient(45deg, #03d3a9, #9f54fb, #fa6967);
$ag9: linear-gradient(45deg, #0993d9, #311cc9, #5614ba);
$ag10: linear-gradient(45deg, #366f63, #7e3aef, #f1368f);
$ag11: linear-gradient(45deg, #d4d7d9, #f44781, #d54598);
$ag12: linear-gradient(45deg, #129ece, #2e5bcb, #8d99a4);
$ag13: linear-gradient(45deg, #2f667f, #0d64de, #b5e9e7);
$ag14: linear-gradient(45deg, #fe560a, #ff3451, #f6b3ae);
$ag15: linear-gradient(45deg, #dac657, #fb2734, #8ed8a2);
$ag16: linear-gradient(45deg, #ed308b, #8c21bd, #973bb7);
$ag17: linear-gradient(45deg, #f929f0, #e5ac8f, #edc3e8);
$ag18: linear-gradient(45deg, #5ba27f, #4f6aed, #0d79ef);
$ag19: linear-gradient(45deg, #ff21e5, #198ef3, #42fecb);
$ag20: linear-gradient(45deg, #dbdf63, #ea1497, #cff7f9);
$ag21: linear-gradient(45deg, #2639a3, #4670e2, #52d0f1);
$ag22: linear-gradient(45deg, #d61eab, #fe4e6a, #e0b354);
$ag23: linear-gradient(45deg, #fc69a9, #d441da, #7b6fb9);
$ag24: linear-gradient(45deg, #eac99d, #e5468c, #b0a0ff);
$ag25: linear-gradient(45deg, #c675d9, #e43389, #fe4900);

$colorsAdobe: linear-gradient(45deg, #d64ef5, #ff3e9d, #ff7f18);
