@font-face {
  font-family: "Cairo";
  src: url(../../fonts/Cairo/Cairo-VariableFont_wght.ttf) format("woff2");
}
body {
  font-family: "Cairo";
}
/* .container {
  margin: 20px auto;
  width: 1000px;
} */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
  font-size: 22px;
}
.game-info .game-name {
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
.hangman-drow {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-drow .the-drow {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  display: none;
  margin: auto;
}
.hangman-drow .the-drow div.show {
  visibility: visible;
}
.hangman-drow .the-drow .the-stand {
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.hangman-drow .the-drow .the-hang {
  display: none;
}
.hangman-drow .the-drow .the-hang::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  left: 30px;
  top: 15px;
  background-color: #222;
}
.hangman-drow .the-drow .the-hang::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 4px;
  left: 130px;
  top: 15px;
  background-color: #222;
}
.hangman-drow .the-rope {
  width: 70px;
  height: 70px;
  border: 4px dashed #222;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 130px;
  transform: translateX(-50%);
  display: none;
}
.hangman-drow .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  top: 65px;
  left: 130px;
  transform: translateX(-50%);
  display: none;
}
.hangman-drow .the-man .body {
  position: absolute;
  height: 110px;
  width: 4px;
  background-color: #222;
  left: 130px;
  top: 120px;
  display: none;
}
.hangman-drow .the-man .hands {
  display: none;
}
.hangman-drow .the-man .hands::before {
  content: "";
  width: 4px;
  height: 65px;
  background-color: #222;
  transform: rotate(-60deg);
  position: absolute;
  left: 102px;
  top: 115px;
}
.hangman-drow .the-man .hands::after {
  content: "";
  width: 4px;
  height: 65px;
  background-color: #222;
  transform: rotate(60deg);
  position: absolute;
  left: 157px;
  top: 115px;
}
.hangman-drow .the-man .legs {
  display: none;
}
.hangman-drow .the-man .legs::before {
  content: "";
  width: 4px;
  height: 65px;
  background-color: #222;
  transform: rotate(-135deg);
  position: absolute;
  left: 109px;
  top: 215px;
}
.hangman-drow .the-man .legs::after {
  content: "";
  width: 4px;
  height: 65px;
  background-color: #222;
  transform: rotate(135deg);
  position: absolute;
  left: 153px;
  top: 215px;
}
.hangman-drow.wrong-1 .the-drow {
  display: block;
}
.hangman-drow.wrong-2 .the-stand {
  display: block;
}
.hangman-drow.wrong-3 .the-hang {
  display: block;
}
.hangman-drow.wrong-4 .the-rope {
  display: block;
}
.hangman-drow.wrong-5 .head {
  display: block;
}
.hangman-drow.wrong-6 .body {
  display: block;
}
.hangman-drow.wrong-7 .hands {
  display: block;
}
.hangman-drow.wrong-8 .legs {
  display: block;
}
.letters {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  flex-wrap: wrap;
}
.letters .letter-box {
  background-color: rgb(0 167 151);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.letters .letter-box.disabled {
  pointer-events: none;
  background-color: #000;
  opacity: 0.2;
}
.letter-guess {
  margin: 20px auto;
  background-color: #f8f7f9;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-height: 104px;
}
.letter-guess span {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}
.letter-guess span.space {
  background: none;
  border-bottom: none;
  position: relative;
}
.letter-guess span.space::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  width: 100%;
  box-shadow: 0 2px 20px #222, 0 3px 20px #555;
  padding: 70px 0;
  text-align: center;
  text-transform: capitalize;
  background-color: #db0741;
  color: white;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.letters.finished {
  pointer-events: none;
}
